#txt_codigo_produto___1 {
    width: 150px;
}

#txt_descr_produto___1{
	width: 150px;
}

#txt_unidade_medida___1{
	width: 150px;
}

#txt_quantidade___1{
	width: 150px;
}

#txt_fornecedor___1{
	width: 150px;
}

#txt_valor_cotado___1{
	width: 150px;
}